@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family:"Inter", sans-serif !important;
}
section, footer {
  height:50px
}
header, .jumbo, section, nav{
  padding: 0 15%;
}
header {
  background-color: red;
  height:65px;
  line-height: 65px;
}
nav ul li {
  font-size: 1.2rem;
  text-transform: capitalize;
}
nav a {
  color: #031b4f;
  text-decoration: none;
}
nav a:hover {
 color: #006aff;
 text-decoration: none;
}
.jumbo {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  padding-top: 65px;
}
section:nth-child(odd) {
  background-color: purple;
}
section:nth-child(even) {
  background-color: brown;
}
footer {
  background-color: #031c4e;
}
