@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body {
  font-family:"Inter", sans-serif !important;
}
/* section,*/ footer {
  height:50px
}
header, .jumbo, section, nav{
  padding: 0 15%;
}
header {
  height:75px;
  line-height: 75px;
}
nav {
  background-color: white;
}
nav ul  {
  margin: 0px;
}
nav ul li {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #031b4f;
}
nav a {
  color: #031b4f;
  text-decoration: none;
}
nav a:hover {
 color: #006aff;
 text-decoration: none;
}
.margin-top-bottom {
  margin: 15px 0px;
}
.padding-top-bottom, section {
  padding-top: 15px;
  padding-bottom: 15px;

}
.jumbo {
  background-image: url(../img/jumbo.svg);
  background-size: cover;
  padding-top: 65px;
  padding-bottom: 15px;
}
.white {
  color: white;
}
.google-login {
  background-color: white;
  border-radius: 5%;
}
.prova-da-non-fare {
  margin-right: -7%;
}
.blue-personalize {
  color: #006aff;
}
h1, h2, h4, h5 {
  font-weight: bolder !important;
}
.img-partners {
  width: 100%;
  line-height: 100px;
}
.colore-testo {
  color: #5b6987;
}
section:nth-child(odd) {
  background-color: #f3f5f9;
}
section:nth-child(even) {
  background-color: white;
}
section .btn-features {
  border: inherit ;
  border-left: 1px solid lightgrey ;
  border-radius: 0px ;
}
section .btn-features:hover,  section .btn-features:focus {
  border-left: 2px solid darkblue ;
  background-color: inherit;
  -webkit-box-shadow: inherit;
  -webkit-appearance:
}
.arrow {
  font-size: 5rem;
}
main section:nth-child(5) {
  background: #031b4e url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* background: linear-gradient(#0048c5,#00209b) */
}
main section:nth-child(5) ul li {
  padding: 6px ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
main section:nth-child(5) ul li span:nth-child(2) {
  color: rgba(255, 255, 255, 0.2);
}
main section:nth-child(5) ul li span:first-child{
  display: inline-block;
  width: 15%;
}
main section:nth-child(5) ul li span:last-child{
}
main section:nth-child(5) ul li a {
  color: #00d7d2;
}
main section:nth-child(5) ul li a:hover {
  color: #1633ff;
  text-decoration: none;
}
footer {
  background-color: #031c4e;
}
